
.searchbaar .searchbar{
    margin-bottom: auto;
    margin-top: 20px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    border: 1px solid #3FC1C9;
    box-shadow: 1px 1px  #888888;
  }
  
  .searchbaar .search_input{
    color: #364F6B;
    border: 0;
    outline: 0;
    background: none;
    width: 80%;
    caret-color:#F2AB39;
    line-height: 40px;
    transition: width 0.4s linear;
  }
  
  .searchbaar .search_icon{
    height: 40px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#F5F5F5;
    text-decoration:none;
  }
  
  .searchbaar #img141{
    width: 50%;
    transform: scaleX(-1);
  }
  
  .searchbaar #img141:hover{
    width: 60%;
    background-color: #fff;
  }
  
  
  
  @media screen and (max-width: 330px) {
    .searchbaar .search_input {
      font-size: 10px;
    }
  
    .searchbaar .search_icon{
      height: 30px;
      width: 25px;
      margin-top:5px ;
  
    }
  }
  
  @media screen and (max-width: 295px) {
    .searchbaar .search_input {
      font-size: 8px;
    }
  
    .searchbaar .search_icon{
      height: 20px;
      width: 20px;
      margin-top:10px ;
  
    }
  
  
  }
  

  
   /* style={{ marginBottom: 'auto', marginTop: 'auto', height: '40px', backgroundColor: 'white', 
   padding: '0px 10px 0px 10px',  width: '100%', border: '1px solid #3FC1C9',boxShadow: '1px 1px  #888888'}}

   
 style={{ color: '#364F6B', border: '0', background: 'none',outline:'0', 
    width: '80%',lineHeight: '40px',transition: 'width 0.4s linear'}}
 
     style={{height: '40px', width: '30px', float: 'right', display: 'flex',
           justifyContent: 'center',  alignItems: 'center', borderRadius: '50%',color:'#F5F5F5',  textDecoration:'none'}}

           
    style={{width: '50%',transform: 'scaleX(-1)'}} */
         